.intro__list {
    margin: 0;
    padding: 0;
    padding-top: 33px;

    list-style-type: none;

    font-family: inherit;
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 18px;
}