.lead {
    margin: 56px 148px 0 148px;
    padding: 0;

    max-width: 984px;
    width: 100%;

    display: flex;
    flex-direction: column;
}

@media screen and (max-width: 1024px) {
    .lead {
        max-width: 928px;
        width: 100%;

        margin: 48px 48px 0 48px;
    }
}

@media screen and (max-width: 768px) {
    .lead {
        max-width: 768px;
        width: 100%;
        margin: 128px 0 0 0;
    }
}
/*на 414  для себя*/
@media screen and (max-width: 414px) {
    .lead {
        max-width: 414px;
        width: 100%;
        margin: 48px 0 0 0; 
    }
}

@media screen and (max-width: 320px) {
    .lead {
        max-width: 320px;
        width: 100%;
        margin: 48px 0 0 0; 
    }
}