.header {
    margin: 28px auto 0 auto;
    padding: 0;

    max-width: 1184px;
    width: 100%;
       
    display: flex;
    justify-content: space-between;

    box-sizing: border-box;
    
    /*попытка сделать на гридах
    display: grid;
    grid-template-columns: min-content min-content;
    gap: 931px;*/
}

@media screen and (max-width: 1100px) {
    .header {
        padding-left: 48px;
        padding-right: 48px;
    }
}

@media screen and (max-width: 930px) {
    .header {
        padding-left: 24px;
        padding-right: 24px;
    }
}

@media screen and (max-width: 567px) {
    .header {
        margin: 16px auto 0 auto;
        padding-left: 16px;
        padding-right: 16px;
        
    }
}