.header {
    margin: 28px 48px 0 48px;
    max-width: 1184px;
       
    display: flex;
    justify-content: space-between;
    
    /*попытка сделать на гридах
    display: grid;
    grid-template-columns: min-content min-content;
    gap: 931px;*/
}

@media screen and (max-width: 1024px) {
    .header {
        max-width: 928px;
    }
}

@media screen and (max-width: 768px) {
    .header {
        max-width: 720px;
        margin: 28px 24px 0 24px;
    }
}
/*на 414  для себя*/
@media screen and (max-width: 414px) {
    .header {
        max-width: 372px;
        margin: 16px 16px 0 16px;
    }
}

@media screen and (max-width: 320px) {
    .header {
        max-width: 288px;
        margin: 16px 16px 0 16px;
    }
}