.place__main-text {
    margin: 0;
    padding: 0;

    max-width: 484px;
    width: 100%;
    
    grid-area: place__main-text;
    box-sizing: border-box;
}

@media screen and (max-width: 1024px) {
    .place__main-text {
        max-width: 456px;
    }
}

@media screen and (max-width: 768px) {
    .place__main-text {
        max-width: 352px;
    }
}

@media screen and (max-width: 414px) {
    .place__main-text {
        margin-top: 32px;
        padding-left: 16px;
        padding-right: 16px;

        width: 100%;
    }
}