.footer__link {
    margin: 0;
    padding-right: 18px;
    
    font-family: inherit;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;
    
    color: #fff;
    text-decoration: none;
}

.footer__link:last-of-type {
    padding-right: 0;
}

.footer__link:hover {
    opacity: 0.8;
}

@media screen and (max-width: 567px) {
    .footer__link {     
        padding-bottom: 32px;
        padding-right: 0;
        
        font-size: 20px;
        line-height: 24px;
    }
}

@media screen and (max-width: 414px) {
    .footer__link {
        font-size: 24px;
        line-height: 24px;
    }
}