.footer__copyright {
    margin: 0;
    padding: 0;

    padding-right: 0;
    text-align: right;

    font-family: inherit;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;    
    font-style: normal;
}

@media screen and (max-width: 320px) {
    .footer__copyright {
        font-family: inherit;
        line-height: 14px;
}