.intro__text {
    margin-top: 40px;
    padding: 0;

    font-family: inherit;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
}

@media screen and (max-width: 674px) {
    .intro__text {
        font-size: 14px;
    }
}