.footer__list-links {
    max-width: 483px;
    width: 100%;
    
    display: flex;
    flex-direction: row;
}

@media screen and (max-width: 567px) {
    .footer__list-links {
        max-width: 328px;

        flex-direction: column;
    }
}

@media screen and (max-width: 414px) {
    .footer__list-links {
        max-width: 240px;
    }
}

@media screen and (max-width: 320px) {
    .footer__list-links {
        max-width: 186px;
    }
}