.intro {
    margin-top: 92px;
    margin-left: 148px;
    padding: 0;
    
    max-width: 690px;
    
    display: grid;
    grid-template-rows: repeat(3, min-content);
}

@media screen and (max-width: 1024px) {
    .intro {
        margin-left: 48px;
    }
}

@media screen and (max-width: 768px) {
    .intro {
        max-width: 720px;
        margin: 88px 24px 0 24px;
    }
}
/*на 414  для себя*/
@media screen and (max-width: 414px) {
    .intro {
        max-width: 327px;
        margin: 64px 16px 0 16px;
    }
}

@media screen and (max-width: 320px) {
    .intro {
        max-width: 288px;
        margin: 64px 16px 0 16px;
    }
}