.lead__subtitle {
    margin: 32px 172px 0 172px;
    padding: 0;

    min-width: 640px;

    align-self: center;
    text-align: center;
    font-family: inherit;
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 36px;
}

@media screen and (max-width: 1024px) {
    .lead__subtitle {
        min-width: 640px;
        margin: 32px 192px 0 192px;
    }   
}

@media screen and (max-width: 768px){
    .lead__subtitle {
        min-width: 640px;
        margin: 32px 64px 0 64px;
    }
}

@media screen and (max-width: 414px){
    .lead__subtitle {
       min-width: 372px;

       margin:  16px 16px 0 16px;
       font-size: 18px;
       line-height: 20px;
    }
}

@media screen and (max-width: 320px){
    .lead__subtitle {
       min-width: 288px;

       margin:  16px 16px 0 16px;
       font-size: 16px;
       line-height: 20px;
    }
}