.cover {
    max-width: 1184px;
    width: 100%;
    min-height: 740px;

    padding: 0;
    margin: 92px auto 0 auto;

    position: relative;
    
    background-image: url(../../sprint-3-images/cover-trains.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

    box-sizing: border-box;
}


.cover:hover {
    background-color: rgba(42, 44, 47);
    opacity: 0.8;
}

@media screen and (max-width: 1100px) {
    .cover {
        max-width: 1100px;
        width: 100%;

        margin-left: 0;
        margin-right: 0;
    }
}

@media screen and (max-width: 1024px) {
    .cover {
        max-width: 1024px;
        width: 100%;

        margin-left: 0;
        margin-right: 0;
    }
}

@media screen and (max-width: 850px) {
    .cover {
        margin: 90px auto 88px auto;

        max-width: 850px;
        width: 100%;
        min-height: 531px;
    }
}

@media screen and (max-width: 768px) {
    .cover {
        margin: 90px auto 88px auto;

        max-width: 768px;
        width: 100%;
        min-height: 480px;
    }
}

@media screen and (max-width: 730px) {
    .cover {
        margin: 90px auto 88px auto;

        max-width: 730px;
        width: 100%;
        min-height: 456px;
    }
}

@media screen and (max-width: 414px) {
    .cover {
        max-width: 414px;
        width: 100%;
        min-height: 258px;
       
        margin: 66px auto 64px auto;
    }
}

@media screen and (max-width: 320px) {
    .cover {
        max-width: 320px;
        min-height: 200px;

        margin: 66px auto 64px auto;
    }
}