.place__website {
    grid-area: place__website;
    
    width: 100%;
    
    align-self: flex-end;
    box-sizing: border-box;

    padding: 0;
    margin: 0;
}

@media screen and (max-width: 414px) {
    .place__website {
        padding: 0 16px;
        width: 100%;
    }
}

@media screen and (max-width: 320px) {
    .place__website {
        margin: 0;
        padding: 32px 16px;
    }
}