.intro__title {
    margin: 0;
    padding: 0;

    font-family: inherit;
    font-style: normal;
    font-weight: 900;
    font-size: 54px;
    line-height: 58px;
}

@media screen and (max-width: 674px) {
    .intro__title {
        font-size: 50px;
    }
}

@media screen and (max-width: 414px) {
    .intro__title {
        font-size: 32px;
        line-height: 35px;
    }
}

@media screen and (max-width: 320px) {
    .intro__title {
        font-size: 32px;
        line-height: 35px;
    }
}